.secondary-page {
    background-color: #bce2e8;
}

header {
    background-color: #bce2e8;
    color: blue;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

nav ul {
    background-color: green;
    display: grid;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 24px;
}

.hero {
    height: 300px;
    background-position: center;
}

.hero .overlay {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.highlight {
    font-size: 2em;
}

.cta-button {
    background-color: red;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 20px;
    margin: 20px auto;
}

.cta-button:hover {
    background-color: darkred;
}

section {
    padding: 20px;
    background-color: #fff;
    position: relative;
    background-image: url('music.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 30%;
}

body.contact-page section {
    background-image: none;
}

.teaching-materials {
    width: 20%;
    height: auto;
}

.classroom-photo {
    width: 50%;
    height: auto;
}

form {
    margin-top: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

form select {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

label[for="preferred_days"], label[for="preferred_courses"], label[for="preferred_times"] {
    margin-bottom: -10px;
}

#preferred_days, #preferred_courses, #preferred_times {
    margin-top: -10px;
}

form button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1em;
}

form button:hover {
    background-color: darkred;
}

@media screen and (min-width: 1024px) {
    .music-illustration {
        position: absolute;
        top: 750px;
        left: 700px;
        width: 400px;
    }
    .instructor-photo {
        width: 20%;
        height: auto;
    }
}

@media screen and (max-width: 1023px) {
    .music-illustration {
        display: none;
    }
    body.access-page section, body.pricing-page section {
        background-position: center right;
    }
    .highlight {
        font-size: 1.5em;
    }
    .instructor-photo {
        width: 40%;
        height: auto;
    }
}
